textarea {
    resize: none;
    width: 100%;
    background-color: #eef8fa;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #000000;
    margin-top: 10px;
}

span {
    font-size: 14px;
}